{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}


<div class="wrapper">
    <header>TODO LIST</header>
    <form action='/' method="POST">
        <table>
            <tr>
        <td><input type="text" placeholder="Add your new todo" name="content" style="font-size:12pt;" id="content"></td>
       
        <td><input type="submit" value="Add Task"></td>
        </tr>
        </table>



    </form>

    <br>

    <ul class="todoList">
        <table>
            {% for task in tasks %}
        <tr>
            

           <td>{{ task.content }}&nbsp;&nbsp;</td>
          
            <td> {{ task.date_created.date() }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
           


            <td>&nbsp;&nbsp;&nbsp;<a href="/delete/{{task.id}}"><i class="far fa-trash-alt" style="font-size:24px"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;<a href="/update/{{task.id}}"><i class="fa fa-pencil" style="font-size:24px"></a></td>


            
        </tr>
{% endfor %}
</table>


    </ul>


</div>
{% endblock %}