{% extends "menu.html" %}
{% block title %}<title>DashBoard</title>{% endblock%}
{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static', filename='task.css')}}"  type="text/css" media="all" />
<link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}" type="text/css" media="all" />


<!--//Style-CSS -->
{% endblock %}

{% block content %}


<center><h3>Task-Page</h3></center>
<br>
<br>
<div class="row d-flex justify-content-center container-box" id="task-box">
    <div class="col-md-8">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="fa fa-tasks"></i>&nbsp;Task Lists</div>
            </div>
            <div class="scroll-area-sm">
                <perfect-scrollbar class="ps-show-limits">
                    <div style="position: static;" class="ps ps--active-y">
                        <div class="ps-content">
                            <ul class=" list-group list-group-flush">
                                {% for note in user.notes %}
                                <li class="list-group-item">
                                    <div class="todo-indicator bg-info"></div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">

                                            <div class="widget-content-left">
                                                <div class="widget-heading">{{ note.data }}</div>
                                                {% if note.date!="None" %}
                                                <div class="widget-heading">{{ note.date }}</div>
                                                
                                                
                                                {% endif %}

                                            </div>
                                            <div class="widget-content-right mr-2">
                                                <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>

                                            </div>



                                        </div>
                                    </div>
                                </li>
                              {% endfor %}

                            </ul>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>
                        <form method="POST">

                            <input
                                      type="input"
                                      class="text-input"
                                      id="text-input"
                                      name="note"
                                      placeholder="Enter Task"
                                      required
                                    />

                              <input type="datetime-local" class="text-input"
                                       name="task-deadline"
                                        />
                              <button type="submit" class="add-btn">Add Task</button>
                       </form>
        </div>
    </div>
</div>



{% endblock %}


{%block script %}
<script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
{% endblock %}