{% extends "menu.html" %}
{% block title %}<title>My Posts</title>{% endblock%}
{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static', filename='post.css')}}"  type="text/css" media="all" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />



<!--//Style-CSS -->
{% endblock %}
{% block header %}

<div class="header_img"> 
            
  <a href="/inputpost" class="nav_link"> 
  <span class="nav_name"><i class='bx bxs-plus-square nav_prof_icon'></i> </span>
  </a>  
  
</div>
<div class="header_img"> 
            
  <a href="/buyorsell" class="nav_link"> 
  <span class="nav_name"><i class='bx bxs-cart nav_prof_icon'></i> </span>
  </a>  
  
</div>
<div class="header_img"> 
            
  <a href="/lostandfound" class="nav_link"> 
  <span class="nav_name"><i class='bx bxs-file-find nav_prof_icon'></i> </span>
  </a>  
  
</div>

<div class="header_img"> 
            
  <a href="/others" class="nav_link"> 
  <span class="nav_name"><i class='bx bx-globe nav_prof_icon'></i> </span>
  </a>  
  
</div>

<div class="header_img"> 
            
    <a href="/myposts" class="nav_link"> 
    <span class="nav_name"><i class='bx bx-fullscreen nav_prof_icon'></i> </span>
    </a>  
    
  </div>
{% endblock %}

{% block content %}
    

    <div class="main-container">
      <div>&nbsp;</div>
        {% for post in det[1][::-1] %}
        <div class="card text-center">
          <div class="card-header">
            {{(post.title).upper()}}
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href = {{"mailto: "+post.contactid}}>Contact Author &nbsp; &nbsp;<i class="fa fa-envelope"></i></a></h5>
            <p class="card-text">{{post.content}}</p>
            {% if post.img_link %}
            <a href={{post.img_link}} class="btn btn-primary">Image Link</a>
            {% endif %}
          </div>
          <div class="card-footer text-muted">
            <table style="width:100%"><tr>
                <th><button type="button" class="close" onClick="deletePost({{post.id}});">
                    <span aria-hidden="true"><i class="fa fa-trash"></i></span>
                  </button></th>
                  <th>Category : {{post.type}}</th>
              <th>Posted on :{{post.date}}</th>
              <th>Author : {{post.author}}</th>
            </tr></table>
          </div>
        </div>
        
          {% endfor %}
      </div>

    {% endblock %}    