{% extends "base.html" %} 
{% block links %}
<link rel="stylesheet" href="{{url_for('static', filename='input-form.css')}}"  type="text/css" media="all" />

<!--//Style-CSS -->
{% endblock %}{% block title %}Profile{% endblock %} {% block
content %}




<div  class="form-style-5 whole-bg">
    <form method="POST">
        <fieldset>
            <center><legend><b> NEW POST</b></legend></center>
            <label>Title:</label>
            <input type="text" name="title" placeholder="Example: Want to sell my Bicycle" required>
            <label>Type:</label>
            


            <select name="type">
                <option  value="BuyorSell">BuyorSell</option>
                <option  value="LostandFound">LostandFound</option>
                <option  value="Others">Other</option>
            </select>



            <label>Description:</label>
            <textarea name="content" rows=3 placeholder="Description" required></textarea>
            
        
            
            <!-- <label for="job">Additional Info:</label>
            
            <textarea name="add_info" rows=3 placeholder="Example : Some Secondary Contact Details"></textarea> -->
            
            <label >Image Links:</label>
            <input type="text" name="links" placeholder="Image link if required (Example: drive link)"/>
        </fieldset>
        <input id="square-btn" type="submit" value="Post" />
        
    </form>
</div>

{% endblock %}