/* Login-Signup Frontend Template Credits @W3schools */
 html {
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

* {
    box-sizing: border-box;
}

.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
    display: -webkit-flex;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

button,
input,
select {
    -webkit-appearance: none;
    outline: none;
    font-family: 'Noto Sans JP', sans-serif;
}

button,
.btn,
select {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0
}

p {
    color: #666;
    font-size: 16px;
    line-height: 25px;
    opacity: .6;
    text-align: center;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.p-sticky {
    position: sticky;
}

.btn,
button,
.actionbg,
input {
    border-radius: 36px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    -o-border-radius: 36px;
    -ms-border-radius: 36px;
}

.btn:hover,
button:hover {
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}

/*-- wrapper start --*/
.wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}

.wrapper-full {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*-- //wrapper start --*/

/*-- form styling --*/
.w3l-hotair-form {
    position: relative;
    min-height: 100vh;
    z-index: 0;
    background: #0568C1;
    padding: 40px 40px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;
}
.container {
    max-width: 890px;
    margin: 0 auto;
}

.container-sign {
    max-width: 890px;

    margin: 0 auto;

}
.w3l_form {
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    background: #f4f9fd;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    display: grid;
}

.content-wthree {
    flex-basis:50%;
    -webkit-flex-basis:50%;
    box-sizing: border-box;
    padding: 3em 3em;
    background: #fff;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.w3l-workinghny-form .logo {
    text-align: center;
}

.w3l-hotair-form .main-hotair {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 40px 0;
}

.w3l-hotair-form form {
    margin-top: 30px;
    margin-bottom: 30px;
}

.social-icons {
    text-align: center;
    margin-top: 16px;
}
p.account, p.account a {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 16px;
    color: #333;
}

p.account a{
    color:#0568C1;
}
p.account a:hover {
    text-decoration: underline;
}
.w3l-hotair-form h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.w3l-hotair-form h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 5px;
    font-weight: 900;
    color: #272346;
    text-align: center;
}

.w3l-hotair-form input{
    outline: none;
    margin-bottom: 15px;
    font-size: 16px;
    color: #999;
    text-align: left;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f7fafc;
    border: 1px solid #e5e5e5;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}
.w3l-hotair-form input:focus {
    background:transparent;
    border: 1px solid #0568C1;
}
.w3l-hotair-form button {
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: #0568C1;
    border: none;
    padding: 14px 15px;
    font-weight: 700;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.w3l-hotair-form button:hover {
    background: #fdc500;
}

.w3l-hotair-form .social-icons ul li {
    list-style: none;
    display: inline-block;
}

.w3l-hotair-form .social-icons ul li a {
    padding: 8px;
}

.w3l-hotair-form .social-icons ul li a:hover {
    opacity: 0.8;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}

.w3l-hotair-form .social-icons ul span.fa {
    color: #696687;
    font-size: 18px;
    opacity: .8;
}

.w3l-hotair-form .social-icons ul li a.facebook span {
    font-size: 18px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 6px;
    border: 2px solid #696687;line-height:32px;
}

.w3l-hotair-form .social-icons ul li a.twitter span {
    color: #1da1f2;
    font-size: 18px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 6px;
    border: 2px solid #1da1f2;
    line-height:32px;
}

.w3l-hotair-form .social-icons ul li a.pinterest span {
    color:#e60023;
    font-size: 18px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 6px;
    border: 2px solid #e60023;
    line-height:32px;
}


.copyright p {
    text-align: center;
    font-size: 17px;
    line-height: 26px;
    color: #fff;
    opacity: 1;
}

p.copy-footer-29 a {
    color: #fff;
}

p.copy-footer-29 a:hover {
    color:#fdc500;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}


/* -- placeholder --*/


/*-- responsive design --*/

@media (max-width:736px) {
    .w3l-hotair-form .main-hotair {
        flex-direction: column;
    }
    .w3l-hotair-form form {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .w3l_form {
        order: 2;
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 0;
    }
    .content-wthree {
        order: 1;
        border-radius: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

@media (max-width:568px) {
    .w3l-hotair-form h1 {
        font-size: 36px;
    }

    .w3l-hotair-form .main-hotair {
        margin: 30px 0;
    }

    .content-wthree {
        padding: 2.5em;
    }
}

@media (max-width:480px) {
    .w3l-hotair-form {
        padding: 40px 30px;
    }
    .w3l-hotair-form h1 {
        font-size: 26px;
    }
}

@media (max-width:384px) {
    .w3l-hotair-form {
        padding: 30px 15px;
    }

    .content-wthree {
        padding: 2em;
    }
    .w3l-hotair-form h2 {
        font-size: 22px;
        line-height: 32px;
    }

    .copyright p {
        font-size: 16px;
    }

}

/*-- //responsive design --*/
/*-- //form styling --*/


.whole-bg{
background: #0568C1;
}

.logout-btn{
  color:#fff;
  display:block;
  width:100%;

  text-align:right;

  padding-top:5px;
  padding-bottom:5px;
}



i {
    font-style: italic
}

.container-box {
    margin-top: 100px

}

.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
}

.card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.625rem;
    height: 3.5rem;
    background-color: #fff
}

.widget-subheading {
    color: #858a8e;
    font-size: 10px
}

.card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap
}

.card-header .header-icon {
    font-size: 1.65rem;
    margin-right: 0.625rem
}

.card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap
}

.btn-actions-pane-right {
    margin-left: auto;
    white-space: nowrap
}

.text-capitalize {
    text-transform: capitalize !important
}

.scroll-area-sm {
    height: 288px;
    overflow-x: hidden
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125)
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0
}

.todo-indicator {
    position: absolute;
    width: 4px;
    height: 60%;
    border-radius: 0.3rem;
    left: 0.625rem;
    top: 20%;
    opacity: .6;
    transition: opacity .2s
}

.bg-warning {
    background-color: #f7b924 !important
}

.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center
}

.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center
}

.widget-content .widget-content-right.widget-content-actions {
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s
}

.widget-content .widget-content-right {
    margin-left: auto
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

.btn {
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s
}

.btn-outline-success {
    color: #3ac47d;
    border-color: #3ac47d
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d
}

.btn-primary {
    color: #fff;
    background-color: #3f6ad8;
    border-color: #3f6ad8
}

.btn {
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    outline: none !important
}

.card-footer {
    background-color: #fff
}



.text-input{
   border-radius:3px;
   margin-left:4%;
   margin-bottom:2%;
   margin-right:5%;
   display:inline;
   width:40%;
}

.add-btn{
   border-radius:3px;
   margin-right:30%;
   margin-left:40%;
   margin-bottom:2%;
   background: linear-gradient(to bottom, #1E65BE 0%, #3C6BA8 100%);

  }





  .form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}